{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": ["plugin:react/recommended", "airbnb"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "import/no-unresolved": "off",
    "no-console": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-unused-vars": [
      "off",
      "error",
      { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }
    ],
    "linebreak-style": 0,
    "react/jsx-no-bind": 0,
    "operator-linebreak": "off",
    "react/no-array-index-key": "off",
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "react/destructuring-assignment": [0, "always"],
    "object-curly-newline": "off",
    "react/function-component-definition":[2, {"namedComponents": ["function-declaration", "function-expression", "arrow-function"]}],
    "jsx-a11y/label-has-associated-control": ["error", {
      "required": {
        "some": ["nesting", "id"]
      }
    }],
    "jsx-a11y/label-has-for": ["error", {
      "required": {
        "some": ["nesting", "id"]
      }
    }]
  }
}
